html,
body {
height: 100%;
margin: 0;
font-size: 16px;
font-family: "lato", sans-serif;
font-weight: 400px;
line-height: 1.8em;
color: rgb(90, 84, 84)
}
.pimgl {
    background-image: url(images/forest.jpg);
    min-height: 100%;

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify;

}
.pimg2 {
    background-image: url(images/green.jpg);
    min-height: 100%;
}
    .pimg3 {
    background-image: url(images/trees.jpg);
    min-height: 100%;}

    .pimg4 {
    background-image: url(images/by.jpg);
    min-height: 100%;}


.pimgl , .pimg2 , .pimg3 , .pimg4{
    
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.textBg{
    background: black;
    color: rgb(241, 241, 185);
padding: 20px;
}
.section{
    padding: 50px , 80px;
    text-align: center;
}
.section_light {
    background-color: white;
    color: grey;
}
.section_dark{
    background-color: rgb(88, 86, 86);
    color: white;
}